header *{
    margin: 0 auto;
}

.form-group , .btn-container{
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
}

.btn-container #download {
    float: right;
}

.inputs {
    margin: 0 auto;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px;
}

#conditions {margin-bottom: 7px;}

.progress-container{
    margin: 0 auto;
    max-width: 700px;
    padding: 10px;
}